<h1> Yo catz </h1>


<% if @cat %>
 <h2> Hello <%= @cat.name %> </h2>
 <form method="POST" action="/meow">
  <input type="text" name="message" placeholder="Meow Here">
  <input type="hidden" name="cat" value="<%= @cat.id %> ">
  <input type="submit">
 </form>
<% end %>



<% Meow.all.each do |meow| %>
  <h3> 
    <%= meow.message %> 
    <%= meow.cat.name.upcase.reverse %> 
  </h3>
<%end %>



