<!doctype html>
<html>
  <head>
    <title>Meowspace</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
      <nav>
        <h1>MEOWSPACE</h1>
      </nav>

        <%= yield %>

      <footer>
        
      </footer>
  </body>
</html>