<!doctype html>
<html>
  <head>
    <title>Meowspace</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
      <nav>
        <h1>MEOWSPACE</h1>

        <form method="POST" action="/sign-up">
          <input type="text" name="name" placeholder="Cat Name">
          <input type="submit">
        </form>

        <form method="POST" action="/login">
          <input type="text" name="id" placeholder="cat id">
          <input type="submit">
        </form>
      </nav>


        <%= yield %>

      <footer>
        
      </footer>
  </body>
</html>